* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.resume {
    width: 70%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background-color: burlywood;
    padding: 20px;
    color: #ffffff;
}

.photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.name-title h1 {
    margin: 0;
    font-size: 24px;
}

.name-title p {
    font-size: 14px;
    font-style: italic;
}

.content {
    display: flex;
    margin-top: 20px;
}

.left-column, .right-column {
    width: 50%;
    padding: 10px;
}

h2 {
    color: #d1a132;
    font-size: 18px;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

p, li {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}